* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

.border-error {
  border-color: hsl(0deg, 93%, 68%) !important;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: hsl(0deg, 36%, 70%);
}

.bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(#FFFDFE, #FFF6F7);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo-box" "img-box" "text-box" "input-box";
  min-height: 100vh;
}
main .logo-box {
  grid-area: logo-box;
}
main .logo-box .logo {
  width: 120px;
}
main .text-box {
  grid-area: text-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Josefin Sans;
}
main .text-box__header {
  font-size: 4rem;
  font-weight: 600;
  color: hsl(0deg, 6%, 24%);
  line-height: 4.5rem;
}
main .text-box__header_pink {
  font-weight: 300;
  color: hsl(0deg, 36%, 70%);
}
main .text-box__main {
  font-size: 1.25rem;
  font-weight: 400;
  color: hsl(0deg, 36%, 70%);
  line-height: 1.9rem;
}
main .input-box {
  grid-area: input-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .input-box__input {
  width: 400px;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0deg, 36%, 70%, 0.347);
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 1.25rem;
  color: hsl(0deg, 6%, 24%);
  transition: box-shadow 0.15s;
  padding: 18px 80px 18px 30px;
}
main .input-box__input::-moz-placeholder {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 1.25rem;
  color: hsla(0deg, 36%, 70%, 0.64);
}
main .input-box__input::placeholder {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 1.25rem;
  color: hsla(0deg, 36%, 70%, 0.64);
}
main .input-box__input:focus {
  box-shadow: 0 0 0 0.1rem hsla(0deg, 36%, 70%, 0.114);
}
main .input-box__icon-error {
  pointer-events: none;
  position: absolute;
  right: 135px;
}
main .input-box__text-error {
  position: absolute;
  bottom: -35px;
  left: 33px;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(0deg, 93%, 68%);
  cursor: default;
}
main .input-box__button-push {
  height: 60px;
  width: 110px;
  border-radius: 30px;
  background: linear-gradient(to right, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  transition: box-shadow 0.15s, height 0.15s, width 0.15s;
  cursor: pointer;
  margin-left: -50px;
  box-shadow: 0 10px 20px hsla(0deg, 36%, 70%, 0.429);
}
main .input-box__button-push:active {
  background: linear-gradient(to right, hsl(0deg, 100%, 91%), hsl(0deg, 73%, 81%));
  box-shadow: 0 0 0 hsla(0deg, 36%, 70%, 0.429);
  height: 58px;
  width: 108px;
}

.img-box {
  grid-area: img-box;
}
.img-box__mobile {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-box__desktop {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: hsla(0deg, 36%, 70%, 0.425);
}
footer .attribution {
  font-family: Josefin Sans;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: hsl(0deg, 36%, 70%);
}
footer .attribution a {
  color: hsl(0deg, 93%, 68%);
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */